html,
body {
    height: 100%;
}

body {
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}

h1 {
    color: #333
}

img {
    max-width: 100%
}

}
#button {
    width: 150px;
    align-items: center;
    display: flex;
}

#para {
    text-align: left;
}
#intro {
    background: url(https://wallpaperscraft.com/image/girl_leash_dog_walk_grass_park_80143_5616x3744.jpg) center center no-repeat;
    background-size:cover;
    color: white;
    height:100%;
    width: 100%;
    display: flex;
    align-items: center;  
}
#intro-caption {
    font-size: 1.4rem;
    font-weight; 200;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}
#intro-caption h1 {
    color: white;
    font-weight: bold;
}