center {
    color: white;
}

#pagetop {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(images/dog1.jpg) no-repeat;
    color: white;
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
    display: flex;
    margin-bottom: 30px;
}

#top-caption {
    font-size: 1.4rem;
    font-weight; 200;
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}