#x,#y,#z, #w {
    border-radius: 8px;
    width:150px;
    height: 30px;
}

#submit, #resubmit {
  border-radius: 8px;
  border: none;
  margin: 5px;
  padding: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 150px;
  background-color: skyblue;
  color: white;
}

#submit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#submit span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#submit:hover span {
  padding-right: 25px;
}

#submit:hover span:after {
  opacity: 1;
  right: 0;
}

body {
    text-align: center;
     margin: 0;
}

table {
    display:inline-block;
}

table.dataframe {
    border-collapse: collapse;
    border: none;
}
table.dataframe tr {
    border: none;
}
table.dataframe td, table.dataframe th {
    margin: 0;
    border: 1px solid;
    padding-left: 0.25em;
    padding-right: 0.25em;
    
}
table.dataframe th:not(:empty) {
    text-align: left;
    font-weight: normal;
    font-weight: bold;
    font-style: italic;
    background-color: whitesmoke;
    font-family: "Verdana" !important;
    padding: 0.75em;
}
table.dataframe tr:nth-child(2) th:empty {
    border-left: none;
    border-right: 1px dashed;
}
table.dataframe td {
    border: 1px solid #ccf;
}






